@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

:root {
  --body-color: #fff;
  --card-bg: #f0f2fa;
  --heading-color: #1e202a;
  --text-color: #63687e;
}

.dark {
  --body-color: #1f212e;
  --card-bg: #252a41;
  --heading-color: #8b97c6;
  --text-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--body-color);
  font-family: 'Poppins', sans-serif;
  transition: 0.5s ease-in-out;
}

.card {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-bg);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card h3 {
  color: var(--text-color);
  padding-bottom: 8px;
}

.card p {
  text-align: center;
  color: var(--text-color);
}

.fas {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--heading-color);
  transform: rotate(-25deg);
}
